body {
    padding: 0;
    margin: 0;
    font: 12pt Verdana
}

.btn {
    background-color: lightgray;
    border-radius: 0;
}

.btn.btn-active {
    background-color: yellow;
}

.control-group {
    width: 100%;
    position: relative;
    height: 140px;
    border-bottom: 2px solid black;
}

.control-group h1 {
    position: absolute;
    left: -45px;
    top: 45px;
    -webkit-transform: rotate(270deg);
    width: 140px;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.control-group .btn-group {
    margin-left: 50px;
    display: table;
}

.control-group .btn {
    height: 140px;
    display: table-cell;
}

.btn.btn-xxlarge {
    font-size: 50px !important;
    padding: 40px 60px;
}

.btn span {
    font-size: 10px;
    display: block;
}

.rgb-preview {
    width: 150px;
    height: 105px;
    border: 1px solid black;
    background-color: black;

    float: left;
    margin-right: 20px;
}

.rgb-preview div {
    height: 35px;
}

.riser {
    float: left;
    margin-right: 20px;

    border: 1px solid black;
    position: relative;
    width: 150px;
    height: 105px;

    background-color: #444444;

}

.riser .acl {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 12px;
}

.riser .acl2 {
    left: 123px;
    top: 0;
}

.riser .acl3 {
    left: 123px;
    top: 78px;
}

.riser .acl4 {
    left: 0;
    top: 78px;
}

.riser .par, .riser .fog, .riser .fan {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    top: 32px;
    left: 10px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;
}

.riser .fog {
    left: 55px;
}

.riser .fan {
    left: 100px;
}

#interface-status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

#interface-status.unknown {
    background-color: blue;
}
#interface-status.disconnected {
    background-color: red;
}
#interface-status.connected {
    background-color: lime;
}