body {
    background-color: #222;
    font: 16pt Gill Sans, Tahoma;
    color: #eee;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

body, .grp, h1 {
    margin: 0; padding: 0;
}

.btn {
    position: relative;

    background-color: #444;
    border-radius: 10px;

    width: 100%;
    height: 40px;

    text-align: center;
    vertical-align: middle;
}

.btn span, .sbtn span {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 30px;
}

.sbtns {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65%;
}

.btn .sbtn {
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgba(255,255,255,0.2);
    float: left;
    height: 100%;
    position: relative;
}

.grp.sr {
    position: absolute;
    top: 1%;
    height: 65%;
    width: 48.5%;
}

.grp.sr .btn {
    width: 100%;
    height: 24%;
    margin-top: 0.5%;
}
.grp.sr .btn:first-child {
    margin-top: 0;
}

.grp.srr {
    left: 1%;
}
.grp.srl {
    right: 1%;
}

.grp.srw {
   position: absolute;
   bottom: 20%;
   width: 98%;
   left: 1%;
   height: 14%;
}

.srw .btn {
    width: 33%;
    margin-left: 1%;
    height: 100%;
    float: left;
}

.srw .btn:first-child {
    margin-left: 0;
    width: 32%;
}

.grp.srf {
    position: absolute;
    bottom: 13%;
    height: 7%;
    width: 98%;
    left: 1%;
}

.grp.srf .fdr {
    width: 50%;
    height: 80%;
    float: left;
}


.grp.led {
    position: absolute;
    left: 1%;
    width: 98%;
    bottom: 1%;
    height: 9%;
}

.grp.led .btn {
    width: 9.5%;
    margin-left: 0.5%;
    height: 100%;
    float: left;
}

.btn.active {
    background-color: #9E8C55;
}

.btn.mousedown {
    background-color: #333;
}

.btn.active.mousedown {
    background-color: #6E623D;
}

.sbtn.mousedown {
    background-color: rgba(0,0,0,0.2);
}

.sbtn.active {
    background-color: rgba(255,255,255,0.5);
}


div.rc {
  width: 95%;
  height: 100%;
  overflow: hidden;
}


.fdr input {
    -webkit-appearance: none;
    background-color: #333;
    width: 100%;
    height: 100%;
}

.fdr input::-webkit-slider-thumb {
    background-color: #9E8C55;
    width: 20px;
    height: 100px;
    -webkit-appearance:none !important;
}
